// BUTTONS STYLE

.button {
  display: flex;
  justify-content: center;
  text-align: center;
  a {
    padding: 0.65rem 1.25rem;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 18px;
    letter-spacing: 0.3px;
    border-radius: 20px;

    &:hover {
      color: $color-white;
    }
  }

  &--primary a {
    color: $color-white;
    background-color: $color-primary-button;
  }

  &__cta {
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid $color-grey;
    border-radius: 50%;
    cursor: pointer;

    &:active,
    &:hover {
      border: 1px solid $color-red;
      svg path {
        fill: $color-red;
      }
    }

    &--small {
      width: 30px;
      height: 30px;
    }
  }
}
