// CARD STYLE

.card {
  align-items: center;
  justify-content: space-between;
  padding: 4rem 1rem 2rem;
  min-height: 250px;
  margin-top: 4rem;
  border: 1px solid $color-white;
  border-radius: 30px;

  &__picture {
    position: absolute;
    top: -4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: $color-white;
  }

  &__img {
    width: 100%;

    img {
      width: 100%;
    }
  }

  &__bottom {
    p {
      margin: 0;
      color: $color-grey;
    }
  }

  &__content {
    padding: 0 1.25rem;
  }
  &__footer {
    padding: 0 1.25rem 1.25rem;

    p {
      margin: 0;
      color: $color-grey;
    }
  }

  @media (min-width: 1024px) {
    min-height: 300px;
  }

  //Modifyers

  &--top-flat {
    padding: 0;
    margin-top: 1.125rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    h3 {
      margin: 1.25rem 0;
      color: $color-sky-blue;
    }
  }
}
