// HEADER STYLE

.header {
  background-color: $color-white;
  border-bottom: 1px solid $color-border;

  &__nav {
    padding: 1rem;
    width: 100%;
  }

  &__burger {
    padding: 0;
    border: none;
  }

  &__contact-icon {
    @media (min-width: 1024px) {
      display: none;
    }
  }

  &__menu {
    padding: 1rem 0;
    text-align: center;

    @media (min-width: 1024px) {
      padding: 0;
    }

    @media (min-width: 1440px) {
    }
  }

  &__link {
    position: relative;
    padding: 0.5rem 0;

    a {
      font-size: 0.938rem;
      font-weight: 400;
      color: $color-black;
      text-decoration: none;

      &:hover {
        color: $color-light-blue;
      }
    }

    @media (min-width: 1024px) {
      padding: 0.2rem 1rem;
    }

    @media (min-width: 1440px) {
      padding: 0.2rem 1.5rem;
    }

    &:not(:last-child) {
      @media (min-width: 1024px) {
        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 2px;
          height: 100%;
          background-color: $color-light-blue;
        }
      }
    }
  }

  .collapse {
    @media (min-width: 1024px) {
      flex-grow: inherit;
    }
  }

  @media (min-width: 768px) {
    border: none;
  }
}
