// HERO STYLE

.hero {
  text-align: center;

  &__content {
    @media (min-width: 1024px) {
      margin: auto;
    }
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 900;
    color: $color-text;

    span {
      display: inline-block;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 200px;
        height: 20px;
        transform: translate(-50%, 0);
        background-color: $color-light-blue;
        z-index: -1;

        @media (min-width: 1024px) {
          left: 0;
          bottom: 15px;
          width: 100%;
          transform: inherit;
        }
      }
    }
    @media (min-width: 1024px) {
      font-size: 3.75rem;
    }
  }
  .button {
    @media (min-width: 1024px) {
      justify-content: start;
    }
  }

  p {
    margin: 1.25rem 1rem;
    color: $color-grey;
    font-size: 0.75rem;

    @media (min-width: 1024px) {
      margin: 2.5rem 0;
      font-size: 1rem;
    }
  }

  @media (min-width: 1024px) {
    text-align: left;
  }
}
