// MAIN STYLE FILE

//IMPORTS

//Main theme style
@import './theme.scss';

//Mixins
@import './mixins';

//Parts style
@import './header.scss';
@import './footer.scss';
@import './buttons.scss';
@import './hero.scss';
@import './expertise.scss';
@import './realization.scss';

@import './carousel.scss';
@import './card.scss';

// GLOBAL STYLE
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}
section {
  padding: 3.125rem 1.25rem;
  text-align: center;
  .container {
    padding: 0;
  }
}
.intro {
  h1 {
    @include title-underline(140, 160, 10, 20);
  }

  p {
    @include text-intro();
    @media (min-width: 1024px) {
      max-width: 920px;
    }
  }
}

h1,
h2,
h3,
a {
  font-weight: 700;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.375rem;

  @media (min-width: 1024px) {
    font-size: 1.75rem;
  }
}

h3 {
  font-size: 1.125rem;
  @media (min-width: 1024px) {
    font-size: 1.375rem;
  }
}

p {
  font-weight: 400;
  font-size: 0.875rem;
  color: $color-black;

  @media (min-width: 1024px) {
    font-size: 1rem;
  }
}

.subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 0.75rem;
  color: $color-black;

  @media (min-width: 1024px) {
    font-size: 1rem;
  }
}

ul {
  list-style: none;
}

.link {
  font-size: 1.125rem;
  color: $color-red;
  text-decoration: underline;
  &--small {
    font-size: 0.875rem;
  }
  &:hover {
    color: $color-red;
  }
}

img {
  vertical-align: inherit;
  border-style: inherit;
}

.bg-grey {
  background-color: $color-bg-grey;
}
