// MAIN STYLE FILE

//IMPORTS

//Main theme style
@import './theme.scss';

//Mixins
@import './mixins';

//Parts style
@import './header.scss';
@import './footer.scss';
@import './buttons.scss';
@import './hero.scss';
@import './expertise.scss';
@import './realization.scss';
@import './technology.scss';
@import './blog.scss';
@import './contact.scss';

@import './carousel.scss';
@import './card.scss';

// GLOBAL STYLE

body {
  font-family: 'Raleway', sans-serif;
}

section {
  padding: 3.125rem 1.25rem;
  text-align: center;

  .container {
    padding: 0;
  }

  @media (min-width: 1024px) {
    padding: 6.25rem 1.25rem;
  }

  &.bg-grey {
    padding: 1.875rem 1.25rem;

    @media (min-width: 1024px) {
      padding: 3.125rem 1.25rem;
    }
  }
}

.intro {
  h1 {
    @include title-underline(90%, 10, 20);
  }

  p {
    @include text-intro();

    @media (min-width: 1024px) {
      max-width: 920px;
    }
  }
}

h1,
h2,
h3,
a {
  font-weight: 700;
}

h1 {
  font-size: 1.5rem;
  margin: 0;

  @media (min-width: 1024px) {
    font-size: 2rem;
  }
}

h2 {
  font-size: 1.375rem;

  @media (min-width: 1024px) {
    font-size: 1.75rem;
  }
}

h3 {
  font-size: 1.125rem;

  @media (min-width: 1024px) {
    font-size: 1.375rem;
  }
}

p {
  font-weight: 400;
  font-size: 0.875rem;
  color: $color-black;

  @media (min-width: 1024px) {
    font-size: 1rem;
  }
}

.subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 0.75rem;
  color: $color-black;

  @media (min-width: 1024px) {
    font-size: 1rem;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  display: block;
  margin-top: 1.25rem;
  font-size: 1.125rem;
  color: $color-red;
  text-decoration: underline;

  &:hover {
    color: $color-red;
  }

  @media (min-width: 1024px) {
    margin-top: 3.125rem;
  }

  &--small {
    margin: 0;
    font-size: 0.875rem;
  }
}

img {
  vertical-align: inherit;
  border-style: inherit;
}

.bg-grey {
  background-color: $color-bg-grey;
}
