// MAIN STYLE FILE

//IMPORTS

//Main theme style
@import './theme.scss';

//Parts style
@import './header.scss';
@import './footer.scss';
@import './buttons.scss';

// GLOBAL STYLE
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
a {
  font-weight: 700;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.375;
}

h3 {
  font-size: 1.125rem;
}

p {
  font-weight: 400;
  font-size: 1rem;
}

ul {
  list-style: none;
}

.link {
  font-size: 1.125rem;
  color: $color-link;
  text-decoration: underline;
  &--small {
    font-size: 0.875rem;
  }
}

img {
  vertical-align: inherit;
  border-style: inherit;
}
