// THEME

// Colors

$color-black: #000000;
$color-white: #ffffff;
$color-red: #ff6d74;
$color-grey: #737b7d;
$color-blue: #1e3557;
$color-light-blue: #a7d9db;
$color-sky-blue: #007c9f;

$color-text: #282828;
$color-primary-button: #ff6d74;

$color-border: #e0e0e0;

$color-bg-grey: #f5f5f5;
